body {
    clear: both;
}

clearfix:after {
    content: "\00A0";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block
}

body
{
background-color: white;
margin: 25px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    position: relative;   
    text-align: center;
    margin-top: 80;
    padding-top: 20px;
    border: black;
    border-width: 2px;  
    background-color: azure;
    height: auto;
    text-anchor: middle;
    text-align: middle;
}